/* NAV
*/

#search-form {
    margin: 0 auto;
}

/* BODY 
*/

#intro {
    background: #FFF9C4;
    border-radius: 2px;
    color: #212121;
    max-width: 640px;
    margin: 0 auto 5% auto;
    padding: 16px;
    width: 100%;
}
#results {
    margin: 0 auto;
}
#results ul li {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .14), 0 5px 4px -2px rgba(0, 0, 0, .2), 0 2px 5px 0 rgba(0, 0, 0, .12);
    list-style: none;
    float: left;
    margin: 3%;
    max-width: 480px;
    min-height: 430px;
}
figure {
    background: #fff;
    height: 360px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 480px;
}
figure:hover+span {
    bottom: -36px;
    opacity: 1;
}
#results ul li img {
    width: 100%;
}
#results ul li figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
#results ul li figure:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
#results ul li p {
    background: #424242;
    color: #fff;
    font-size: 16px;
    height: 50px;
    margin: 0;
    padding: 10px;
    position: relative;
    
}
.mdl-layout__content {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

/* FOOTER
*/

.mdl-mini-footer {
    min-height: 45px;
}
.mdl-mini-footer__link-list {
    margin: 0 auto!important;
}
